/* Asterisk wildcard selector to override default styles added by the browser */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}


/* Header */
header {
    background-color: #845EC2;
}

/* Main Content */
main {
    background-color: #C34A36;
}

/* Footer */
footer {
    background-color: #4FFBDF;
}